<!doctype html>
    <html>
        <head>
            <title>Table {{ table }}</title>
            <style type="text/css">
            body {
                background-color: #333;
                color:#fff;
                }

            span {
                border:1px solid #fff;
                padding:5px 15px;
                background:#444;
                }

            table {
                border-collapse: collapse;
                border-spacing: 0;
                }

            th,td {
                border:1px solid #aaa;
                border-collapse:collapse;
                border-spacing:0;
            }

            td  {
                font-family:Arial, sans-serif;
                font-size:14px;
                overflow:hidden;
                padding:10px 50px;
                word-break:normal;
                color:#fff;
                }

            tr:nth-child(even) {
                background-color: #444;
                }

            th {
                font-family:Arial, sans-serif;
                font-size:14px;
                font-weight:bold;
                text-transform:uppercase;
                overflow:hidden;
                padding:10px 5px;
                word-break:normal;
                text-align:center;
                background-color:#555;
                }

            pre {
                margin: 0;
                }
            </style>
        </head>

        <body>
            <META HTTP-EQUIV="refresh" CONTENT="5">
            <center>
            <div>
            <h1>Table {{ table }} - VLAN {{ vlan }} - {{ num_clients }} client(s)</h1>
            <h2><pre>Current Option: <span><em>{{ vlan_option }}</em></span></pre></h2>
            </div>

            <table>
            <thead>
            <tr>
                <th>Model</th>
                <th>MAC Address</th>
                <th>IP Address</th>
            </tr>
            </thead>
                <tbody>
                    {% for client in clients %}
                    <tr>
                    <td>{{ client.client }}</td>
                    <td><pre>{{ client.mac }}</pre></td>
                    <td><pre>{{ client.ip }}</pre></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            </center>
            </body>
</html>
